<h1 id="tzca220e_title" class="main_title">ＭＤ週検索</h1>
<div class="search_input_area tzca220e">
    <ul class="search_input_list">
        <li id="tzca220e_iiＭＤ年">
            <span class="label" id="tzca220e_lbＭＤ年">ＭＤ年</span>
            <input type="tel" id="tzca220e_tbＭＤ年" maxlength="4" class="textbox half number" />
        </li>
        <li id="tzca220e_iiＭＤ週">
            <span class="label" id="tzca220e_lbＭＤ週">ＭＤ週</span>
            <input type="tel" id="tzca220e_tbＭＤ週" maxlength="3" class="textbox half number" />
        </li>
        <li class="search_btn_area">
            <button class="btn_tzca220e_select btn"><span>明細表示</span></button>
            <button class="btn_tzca220e_run btn blue"><span class="icon-regist"></span><span>ＯＫ</span></button>
            <button class="btn_tzca220e_close btn"><span class="icon-delete"></span><span>Cancel</span></button>
        </li>
    </ul>
</div>
<div class="data_view_table tzca220e_tbl01">
    <div id="tzca220e_tbl01"></div>
</div>